@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* outline: 1px solid red; */
    /* dimensions debbug */
}

/* Root Estilization*/
:root{
    font-family: "Balsamiq Sans", sans-serif;
    --color-text: #fffafa;
    --color-text1:#484848;
    --color-background: #ece1c3;
    --color-background1: #e5d7b3;
    --color-border: #fffafa;
    --color-icon: #ffffff;
    --color-teme1: #8ebdb6;
    --color-teme2: #3e838c;
    --color-teme3: #195e63;
    --color-teme4: #063940;
}
/* Animations */
@keyframes flutuar{
    0%{
        transform: translateY(2rem);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(2rem);
    }
}

@keyframes flutuar-mobile {
    0%{
        transform: translateY(0.5rem);
    }
    50%{
        transform: translateY(-0.5rem);
    }
    100%{
        transform: translateY(0.5rem);
    }
}

/* Estilizações GLobais */
html, body{
    /* overflow-x: hidden; */
}
body{
    /* Body Dimensions */
    width: 100%;
    height: 100vh;
    /* Colors */
    background-color: var(--color-background);
    color: var(--color-text1);
    /* Size texts */
    font-size: 24px;
}
header{
    background-color: var(--color-teme1);
}

/* Background Estilization */
#projects, #talk{
    background-color: var(--color-background1);
}

/* Header Estilization */
#header{
    /* Colors */
    color: var(--color-text);
    /* Dimensions */
    padding: 1rem 2rem 1rem 2rem;
    /* Alingment children elements*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-main-menu ul{
    display: flex;
    align-items: center;
}
.item-main-menu{
    padding: 1rem;
}
.item-main-menu p:hover{
    border-bottom: 4px solid var(--color-border);
    border-radius: 3px;
    border-color: var(--color-border);
}
.item-midia{  
    padding: 0.5rem;
}

.links{
    /* Color links */
    color: var(--color-background);
}
.midias-links ul{
    display: flex;
    align-items: center;
}
.midias-links img{
    /* Links Dimensions Icon*/
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* Transitions */
    transition: width 0.2s, height 0.2s;
}
.midias-links img:hover{
    /* Transition by Hover Icon */
    width: 45px;
    height: 45px;
}

/* Main Estilization */
main h2{
    color: var(--color-teme2);
    font-size: 3rem;
}
/* Section Estilization */
section{
    padding: 3rem 4rem 3rem 4rem;
}
section h2{
    margin-bottom: 2rem;
}
/* Class and ID Estilization by Main */
#about{
    display: flex;
    flex-direction: column;
}
.about-text-container{
    text-indent: 5%;
    text-align: justify;
    font-size: 1.8rem;
    margin-right: 0 1rem;
}
.about-container{
    display: flex;
    align-items: center;
}
.my-photo{
    margin: 0 4rem 0 4rem;
}
.my-photo img{
    background-color: var(--color-teme3);
    border-radius: 50%;
    border:2px solid var(--color-teme4);
    box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
    width: 200px;
}
/* Projects area */
#projects{
    display: flex;
    flex-direction: column;
}
#projects-container ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 2rem 0 2rem;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--color-text);
    background-color: var(--color-teme3);
    border: 4px solid var(--color-teme4);
    border-radius: 5%;
    padding: 3rem;

    text-decoration: none;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.5s;
    width: 20rem;
}
.acess-link-card-transition:hover .project-card{
    opacity: 50%;
    transform: scale(1.1);
    box-shadow: 3px 3px var(--color-teme4);
}
.image-project{
    border-radius: 10px;
    width: 220px;
    height: 320px;
    padding-bottom: 1rem;
}
.acess-link-card-transition{
    position: relative;
}
.icon-card{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
}
.go-to-icon-state{
    display: inline;
    align-self: center;
    visibility: hidden;
    opacity: 0;
    background-color: var(--color-icon);
    border: 5px solid var(--color-teme3);
    border-radius: 50%;
    padding: 1rem;
    transition: opacity 0.3s;
}
.go-to-icon-state:hover{
    background-color: var(--color-teme2);
}
.acess-link-card-transition:hover .go-to-icon-state{
    visibility: visible;
    opacity: 1;
}
/* Hard Skills area */
#hard-container ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hard-card-item{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--color-text);
    background-color: var(--color-teme3);
    border: 4px solid var(--color-teme4);
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 1rem;
    transition: transform 0.3s ease;
}
.hard-card-item:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px var(--color-teme4);
}
.hard-card-item img{
    width: 150px;
    padding: 5px;
    border-radius: 15%;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.25);
}
/* Talk to me area*/
.talk-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 1fr;
    grid-auto-flow: row;
    grid-template-areas: 
        "one three"
        "two three" ;
    gap: 1rem;
    place-items: center;
    padding: 3rem 0 2rem 8rem;
    font-size: 32px;
}
.talk-container.one{
    grid-area: one;
}
.talk-container.two{
    grid-area: two;
}
.talk-container.three{
    grid-area: three;
}
.email-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.link-in-body{
    text-decoration: none;
    color: var(--color-teme2);
}
.button-container{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    font-size: 22px;
    border: 5px solid var(--color-teme2);
    border-radius: 5px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.button-container img{
    width: 25px;
    height: 25px;
}
.talk-container.two{
    display: flex;
    flex-direction: column;
}
.message-what-button{
    visibility: hidden;
    padding: 0.5rem;
}
#custom-button:hover .message-what-button{
    visibility: visible;
}
.button-container:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px;
}
.mookup{
    position: absolute;
    width: 18rem;
    animation: flutuar 3s infinite backwards;
}

/* Footer Estilzation */
footer{
    position: relative;
    background-color: var(--color-teme1);
    padding: 2rem;
}
.footer-container{
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--color-border);
}

@media (max-width: 940px){
    html, body{
        max-width: 100%;
        width: 100%;
        overflow-x: hidden !important;
    }

    section, section h2{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section{
        margin-top: 0.5rem;
    }

    #about .about-container, #projects #projects-container ul, #hard #hard-container ul, #talk .talk-container, #footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
    }
    /* Header */
    #header{
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .header-logo-name{
        display: none;
    }
    /* Main */
    .about-text-container{
        font-size: 10px;
    }
    .my-photo img{
        width: 100px;
    }
    .project-card{
        margin: 1rem;
        height:fit-content;
        width: 10px auto;
        border-radius: 5%;
        font-size: 15px;
    }
    .image-project{
        width: 80px;
        height: 140px;
    }
    .hard-card-item{
        margin: 0 0 1rem 0;
        width: 10rem;
        height: fit-content;
    }
    .hard-card-item img{
        width: 50px;
        height: 50px;
    }
    .talk-container, .talk-container.one, .talk-container.two, .talk-container.three{
        padding: 0;
        display:none;
        grid: none;
    }
    #talk .talk-container{
        text-align: center;
        font-size: 1rem;
    }
    #custom-button{
        margin-bottom: 1rem;
    }
    .talk-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .background-mobile{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 4px solid var(--color-teme3);
        background-color: var(--color-teme2);
        box-shadow: 3px 3px rgb(0, 0, 0, 0.25);
    }
    .mookup{
        position: static;
        width: 100px;
        height: 200px;
        animation: flutuar-mobile 10s infinite backwards
    }

    /* Footer */
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border:none;
        font-size: 1rem;
    }
}