@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit&display=swap');

/* Root Estilization*/
:root{
    font-family: "Balsamiq Sans", sans-serif;
    --color-text: #fffafa;
    --color-text1:#484848;
    --color-background: #ece1c3;
    --color-background1: #e5d7b3;
    --color-border: #fffafa;
    --color-icon: #ffffff;
    --color-teme1: #8ebdb6;
    --color-teme2: #3e838c;
    --color-teme3: #195e63;
    --color-teme4: #063940;
}
/* Animations */
@keyframes flutuar{
    0%{
        transform: translateY(2rem);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(2rem);
    }
}

/* Estilizações GLobais */
*{
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-text1);
    font-size: 24px; 
}
.links{
    text-decoration: none;
    color: var(--color-background) ;
}
.midias-links img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: width 0.2s, height 0.2s;
}
.midias-links img:hover{
    width: 45px;
    height: 45px;
}
/* Header Estilization */
#header-nav-bar{
    color: var(--color-text);
    background-color: var(--color-teme1);
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main-menu ul{
    display: flex;
    align-items: center;
}
.item-main-menu{
    padding: 1rem;
}
.item-main-menu p:hover{
    border-bottom: 4px solid var(--color-border);
    border-radius: 3px;
    border-color: var(--color-border);
}
.midias-links ul{
    display: flex;
    align-items: center;
}
.item-midia{  
    padding: 0.5rem;
}

/* Main Estilization */
main h2{
    color: var(--color-teme2);
    font-size: 3rem;
}
section{
    padding: 3rem 4rem 3rem 4rem;
}
section h2{
    margin-bottom: 2rem;
}
#about-me{
    display: flex;
    flex-direction: column;
}
.about-text-container{
    text-indent: 5%;
    text-align: justify;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.about-container{
    display: flex;
    align-items: center;
    padding: 0;
}
.my-photo{
    margin: 0 4rem 0 4rem;
}
.my-photo img{
    background-color: var(--color-teme3);
    border-radius: 50%;
    border:2px solid var(--color-teme4);
    box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
    width: 200px;
}
/* Projects area */
#projects{
    display: flex;
    flex-direction: column;
    background-color: var(--color-background1);
}
#projects-container ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 2rem 0 2rem;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--color-text);
    background-color: var(--color-teme3);
    border: 4px solid var(--color-teme4);
    border-radius: 15%;
    padding: 3rem;

    text-decoration: none;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.5s;
    width: 20rem;
}
.acess-link-card-transition:hover .project-card{
    opacity: 50%;
    transform: scale(1.1);
    box-shadow: 3px 3px var(--color-teme4);
}
.image-project{
    border-radius: 10px;
    width: 220px;
    height: 320px;
    padding-bottom: 1rem;
}
.acess-link-card-transition{
    position: relative;
}
.icon-card{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
}
.go-to-icon-state{
    display: inline;
    align-self: center;
    visibility: hidden;
    opacity: 0;
    background-color: var(--color-icon);
    border: 5px solid var(--color-teme3);
    border-radius: 50%;
    padding: 1rem;
    transition: opacity 0.3s;
}
.go-to-icon-state:hover{
    background-color: var(--color-teme2);
}
.acess-link-card-transition:hover .go-to-icon-state{
    visibility: visible;
    opacity: 1;
}
/* Hard Skills area */
#hard-container ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hard-card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    background-color: var(--color-teme3);
    border: 4px solid var(--color-teme4);
    border-radius: 0.5rem;
    width: 25%;
    padding: 0.5rem;
    gap: 1rem;
    transition: transform 0.3s ease;
}
.hard-card-item:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px var(--color-teme4);
}
.hard-card-item img{
    width: 150px;
    padding: 5px;
    border-radius: 15%;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.25);
}
/* Talk to me area*/
#talk-with-me{
    background-color: var(--color-background1);
}
.talk-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 1fr;
    grid-auto-flow: row;
    grid-template-areas: 
        "one three"
        "two three" ;
    gap: 1rem;
    place-items: center;
    padding: 3rem 0 2rem 8rem;
    font-size: 32px;
}
.talk-container.one{
    grid-area: one;
}
.talk-container.two{
    grid-area: two;
}
.talk-container.three{
    grid-area: three;
}
.email-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.link-in-body{
    text-decoration: none;
    color: var(--color-teme2);
}
.button-container{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    font-size: 22px;
    border: 5px solid var(--color-teme2);
    border-radius: 5px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.button-container img{
    width: 25px;
    height: 25px;
}
.talk-container.two{
    display: flex;
    flex-direction: column;
}

.message-what-button{
    visibility: hidden;
    padding: 0.5rem;
}
#custom-button:hover .message-what-button{
    visibility: visible;
}
.button-container:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px;
}

.mookup{
    position: absolute;
    width: 18rem;
    object-fit: cover;
    animation: flutuar 3s infinite backwards;
}

/* Footer Estilzation */
footer{
    position: relative;
    background-color: var(--color-teme1);
    padding: 2rem;
    flex-shrink: 0;
}
#footer-page{
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--color-border);
}

@media (width <= 390px){
    *{
        margin: 0;
    }
    body{
        max-width: 100vw;
        overflow-x: hidden;
    }
    body, header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header, main, section, footer{
        width: 100%;
    }
    section, section h2{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main-content, #about-me .about-container, #projects #projects-container ul, #hard-skills #hard-container ul,  #talk-with-me, #talk-with-me .talk-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #header-nav-bar{
        font-size: 12px;
    }
    #header-nav-bar .item-main-menu{
        padding: 2px;   
    }
    .logo-name{
        visibility: hidden;
    }
    .about-text-container{
        font-size: 12px;
        margin: 1rem 0 0 0;
    }
    .project-card{
        height:fit-content;
        width: fit-content;
        margin: 15px 0 0 0;
        border-radius: 5%;
    }
    .hard-card-item{
        margin: 10px 0 0 0;
        height: fit-content;
        width: fit-content;
    }

    #talk-with-me .talk-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        padding: 1rem 0 1rem 0; /* Padding mais equilibrado para mobile */
    }

    .mookup{
        width: 60%;
        height: 220px;
        object-fit: cover;
        object-position: top;
    }
    #footer-page{
        display: flex;
        flex-direction: column;
        border: none;
    }
}